@using Eticaret_02.MvcWebUI.Models
@model IEnumerable<ProductModel>

@foreach (var urun in Model)
{
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->

            <img class="card-img-top" src="@urun.ImageSmall" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@urun.Name</h5>
                    <!-- Product reviews-->
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        @for (int i = 0; i < urun.Star; i++)
                        {
                            <div class="bi-star-fill"></div>
                        }

                    </div>
                    <!-- Product price-->
                    <span class="text-muted text-decoration-line-through">$@urun.PriceOld</span>
                    $@urun.PriceNew
                </div>
            </div>

            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Home/Details/@urun.Id">İncele</a></div>
            </div>
        </div>
    </div>
}